<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/hotelDB</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="Klase/Soba.hbm.xml"/>
  <mapping resource="Klase/Boravak.hbm.xml"/>
  <mapping resource="Klase/Gost.hbm.xml"/>
  <mapping resource="Klase/Osoba.hbm.xml"/>
  <mapping resource="Klase/Predracun.hbm.xml"/>
  <mapping resource="Klase/Racun.hbm.xml"/>
  <mapping resource="Klase/Rezervacija.hbm.xml"/>
  <mapping resource="Klase/StraniGost.hbm.xml"/>
  <mapping resource="Klase/Zaposlenik.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
